:root {
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    height: 100%;
    background-color: #ffffff;
}

#container {
    margin-top: 3%;
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

#game {
    width: 100%;
    width: 375px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

hr {
    border: none;
    height: 1px;
    background-color: #999;
}

header {
    margin-top: 5px;
}

header .title {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 37px;
    line-height: 100%;
    letter-spacing: 0.01em;
    text-align: center;
    left: 0;
    right: 0;
}

div {
    display: block;
}

button.icon {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 150px;
    width: 150px;
    margin: auto;
    border-radius: 50%;
    position: absolute;
    border: 5px solid black;
    box-sizing: border-box;
}

#left-pallete {
    position: absolute;
    left: 15%;
    top: 30%;
}

#right-pallete {
    position:absolute;
    right: 15%;
    top: 30%;
}

.menu-left {
    position: absolute;
    margin: 5px;
}

#board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    margin-top: 10px;
}

#board {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    margin-top: 0;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.square {
    border: 2px solid rgb(58, 58, 60);
    width: 40px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#keyboard-container {
    margin-top:3%;
    height: 200px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin:0 auto 8px;
    touch-action: manipulation;
}

.keyboard-row button {
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    height: 58px;
    cursor: pointer;
    background-color: rgb(129, 131, 132);
    color: rgb(215, 215, 220);
    flex-grow: 1;
    text-transform: uppercase;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
}

.keyboard-row button.wide-button {
    flex-grow: 1.5;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
    line-height: 1.5;
    font-size: 14px;
}

.spacer-half {
    flex-grow: 0.5;
}

#overlay {
    position: fixed;
    opacity: 0; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .9);
    pointer-events: none;
    transition: 200ms ease-in-out;
    z-index: 1;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.examples {
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    border-top: 1px solid rgba(0, 0, 0, .3);
}

.examples .square {
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.rgb-container {
    align-items: center;
    text-align: center;
    margin: 0;
    border: 0;
    position: absolute;
    left: 41%;
    top: 7%;
}

.rgb {
    float: left;
    padding:27px;
}